.env
go.sum
*.mod~
.DS_Store
Thumbs.db
bootstrap
function.zip

terraform/.terraform/*
terraform.tfstate.backup
terraform/startup.sh
terraform/terraform.tfstate
terraform/terraform.tfvars
.terraform.lock.hcl
