.env
go.sum
*.mod~
.DS_Store
Thumbs.db

terraform/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.51.0/darwin_arm64
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
terraform/startup.sh
terraform/terraform.tfstate
terraform/terraform.tfvars
