#!/bin/bash

export POSTGRES_PASSWORD=
export POSTGRES_DB=
export POSTGRES_URI=
export SETUP_DB_URL=
export SETUP_DB_TOKEN=
export POLYGON_API_KEY=
apt update && apt install -y docker.io docker-compose

git clone https://github.com/WilliamDeLaEspriella/go-swechallenge /app

cd /app

docker-compose build
docker-compose up -d
